// Variables
$font-stack: 'Poppins',
sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$primary-color: rgb(23, 19, 36);
$secondary-color: rgb(255, 119, 86);


// Mixins
@mixin unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


// Global
body {
    font-family: $font-stack;
    font-weight: $font-regular;
    color: $primary-color;
}

html {
    scroll-behavior: smooth;
}


//Header
header {
    height: 100vh;
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    padding: 20px 64px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#roam-logo {
    width: 105px;
    padding: 20px 0;
    float: left;
}

#hamburger {
    padding: 20px 0;
    float: right;
    width: 28px;
}

.hero {
    height: 100vh;
    width: 100%;
    background: #fff;
    font-weight: $font-bold;
    font-size: 100px;
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-heading {
    color: rgba(23, 19, 36, 1);
    transition: 1.5s ease color;
}

.hero-heading-hidden {
    color: rgba(23, 19, 36, 0);
}

#team-illustration {
    width: 100%;
    @include unselectable;
}

.background-triangle {
    width: 25%;
    min-width: 300px;
    position: absolute;
    transition: 0.75s ease opacity;
    @include unselectable;
}

#triangle-1 {
    top: 0;
    right: 0;
}

#triangle-2 {
    bottom: -0.3px;
    left: 0;
    transform: rotate(180deg);
}

.scroll-hero {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.75s ease opacity;
}

.scroll-heading {
    display: block;
    margin: auto;
    padding-bottom: 2px;
    opacity: 1;
    color: $primary-color;
    text-decoration: none;
    text-align: center;
    transition: 2s ease opacity;
}

#scroll-animation {
    display: block;
    transform: translateX(-50%);

    .path {
      stroke-dasharray: 320;
      stroke-dashoffset: 0;
      animation: dash 3s ease;
    }
    
    @keyframes dash {
      from {
        stroke-dashoffset: 320;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  


// Main
main {
    width: 100%;
    transition: 0.75s ease all;
    padding-top: 25px;
    overflow: hidden;
}

.dark-background {
    background-color: $primary-color;
}

.designer-card {
    float: left;
    width: 70%;
    margin: 50px 0;
    padding: 20px;
    background-color: $primary-color;
    color: #fff;
    transition: 0.75s ease all;
}

.designer-card-full {
    width: 100%;
}

.designer-card:nth-child(even) {
    float: left;
    transform: translateX(-100%);
}

.designer-card:nth-child(odd) {
    float: right;
    transform: translateX(100%);
}

.on-screen:nth-child(even) {
    transform: translateX(0);
}

.on-screen:nth-child(odd) {
    transform: translateX(0);
}

.on-screen:nth-last-child(1) {
    button {
        display: none;
    }
}

.designer-card-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.designer-card-bottom {
    width: 100%;
    min-height: 500px;
    transition: 0.5s ease all;
}

.projects-closed {
    min-height: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    li {
        width: 220px;
        height: 220px;
        margin: 12px 2%;
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.3);
        position: relative;
        img {
            width: 100%;
            transition: 0.15s ease transform;
        }
    }
    li:hover {
        cursor: pointer;
        img {
            transform: scale(1.1);
        }
    }
}

.thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.15s ease opacity;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @include unselectable;
}

.thumbnail-overlay:hover {
    opacity: 1;
}

.thumbnail-title {
    font-size: 16px;
    width: 100%;
    margin: 20px 3px 0 3px;
    font-weight: $font-regular;
    text-align: center;
    align-self: flex-start;
}

.thumbnail-appreciations, .thumbnail-views {
    font-size: 16px;
    font-weight: $font-light;
    margin-bottom: 20px;
    align-self: flex-end;
}

.thumbnail-appreciations {
    margin-left: 15px;
}

.thumbnail-views {
    margin-right: 15px;
}

.pre-loader {
    position: absolute;
    top: 55%;
    object {
        height: 100px;
    }
}

.designer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        text-align: center;
        font-size: 60px;
        font-weight: $font-semi-bold;
    }
    h4 {
        text-align: center;
        margin-top: 5px;
        font-size: 30px;
        font-weight: $font-regular;
    }
    p {
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        font-weight: $font-light;
        padding: 30px 80px;
    }
    button { // TODO: button hover color as per Roam style
        padding: 5px 8px;
        color: #fff;
        background-color: $primary-color;
        border: 1.5px solid #fff;
        font-size: 26px;
        outline: none;
        transition: 0.25s ease all;
    }
    button:hover {
        color: $primary-color;
        background-color: #fff;
    }
}

.designer-image {
    img {
        width: 276px;
    }
}

// Project Modal
.project-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: $primary-color;
    transition: 1s ease width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-closed {
    width: 0%;
}

.modal-middle {
    img {
        max-width: 1000px;
        display: block;
        margin: auto;
    }
}

// Footer
footer {
    height: 500px;
    background-color: $primary-color;
}

// Loader
.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.75s ease opacity;
    object {
        height: 120px;
    }
}

// Media Queries
@media only screen and (min-width: 1432px) and (max-width: 1795px) {
    .projects {
        li:nth-child(11) {
            display: none;
        }
        li:nth-child(12) {
            display: none;
        }
    }
}
@media only screen and (min-width: 1058px) and (max-width: 1240px) {
    .projects {
        li:nth-child(11) {
            display: none;
        }
        li:nth-child(12) {
            display: none;
        }
    }
}
@media only screen and (max-width: 1240px) {
    .designer-details {
        h3 {
            font-size: 50px;
        }
        h4 {
            font-size: 24px;
        }
        p {
            font-size: 14px;
            padding: 20px 30px;
        }
        button { // TODO: button hover color as per Roam style
            font-size: 20px;
        }
    }
    .designer-image {
        img {
            width: 200px;
        }
    }
    .projects {
        li {
            width: 180px;
            height: 180px;
            margin: 10px 1%;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.1);
            border: 2px solid rgba(255, 255, 255, 0.3);
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 690px) {
    .hero {
        font-size: 80px;
    }

    .background-triangle {
        min-width: 250px;
    }
    .designer-card-top {
        flex-direction: column;
    }
    .designer-image {
        order: -1;
    }
}

// Modifiers
.hidden {
    display: none;
}

.hidden-opacity {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}