// Variables
$font-stack: 'Poppins',
sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$primary-color: rgb(23, 19, 36);


// Mixins
@mixin unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


// Global
body {
    font-family: $font-stack;
    font-weight: $font-regular;
    color: $primary-color;
}

html {
    scroll-behavior: smooth;
}


//Header
header {
    height: 100vh;
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    padding: 20px 64px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#roam-logo {
    width: 105px;
    padding: 20px 0;
    float: left;
}

#hamburger {
    padding: 20px 0;
    float: right;
    width: 28px;
}

.hero {
    height: 100vh;
    width: 100%;
    background: #fff;
    font-weight: $font-bold;
    font-size: 100px;
    text-align: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-heading {
    color: rgba(23, 19, 36, 1);
    transition: 1.5s ease color;
}

.hero-heading-hidden {
    color: rgba(23, 19, 36, 0);
}

#team-illustration {
    width: 100%;
    @include unselectable;
}

.background-triangle {
    width: 25%;
    min-width: 300px;
    position: absolute;
    transition: 0.75s ease opacity;
    @include unselectable;
}

#triangle-1 {
    top: 0;
    right: 0;
}

#triangle-2 {
    bottom: -0.3px;
    left: 0;
    transform: rotate(180deg);
}

.scroll-hero {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.75s ease opacity;
}

.scroll-heading {
    display: block;
    margin: auto;
    padding-bottom: 2px;
    opacity: 1;
    color: $primary-color;
    text-decoration: none;
    text-align: center;
    transition: 2s ease opacity;
}

#scroll-animation {
    display: block;
    transform: translateX(-50%);

    .path {
      stroke-dasharray: 320;
      stroke-dashoffset: 0;
      animation: dash 3s ease;
    }
    
    @keyframes dash {
      from {
        stroke-dashoffset: 320;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  


// Main
main {
    width: 100%;
    transition: 0.75s ease all;
    padding-top: 25px;
    overflow: hidden;
}

.dark-background {
    background-color: $primary-color;
}

.designer-card {
    float: left;
    width: 70%;
    margin: 50px 0;
    padding: 20px;
    background-color: $primary-color;
    color: #fff;
    transition: 0.75s ease all;
}

.designer-card-full {
    width: 100%;
}

.designer-card:nth-child(odd) {
    float: left;
    transform: translateX(-100%);
}

.designer-card:nth-child(even) {
    float: right;
    transform: translateX(100%);
}

.on-screen:nth-child(odd) {
    transform: translateX(0);
}

.on-screen:nth-child(even) {
    transform: translateX(0);
}

.designer-card-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.designer-card-bottom {
    width: 100%;
    transition: 0.5s ease all;
}

.projects-closed {
    height: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
        width: 200px;
        height: 300px;
        margin: 20px;
        img {
            width: 100%;
        }
    }
}

.designer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        text-align: center;
        font-size: 70px;
        font-weight: $font-semi-bold;
    }
    h4 {
        text-align: center;
        font-size: 34px;
        font-weight: $font-regular;
    }
    p {
        font-size: 20px;
        padding: 30px 80px;
        text-align: center;
    }
    button { // TODO: button hover color as per Roam style
        padding: 5px 8px;
        color: #fff;
        background-color: $primary-color;
        border: 1.5px solid #fff;
        font-size: 30px;
        outline: none;
        transition: 0.25s ease all;
    }
    button:hover {
        color: $primary-color;
        background-color: #fff;
    }
}

//Footer
footer {
    height: 500px;
    background-color: $primary-color;
}

// Media Queries
@media only screen and (max-width: 690px) {
    .hero {
        font-size: 80px;
    }

    .background-triangle {
        min-width: 100px;
    }
}

// Loader
.loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.75s ease opacity;
    object {
        height: 120px;
    }
}

// Modifiers
.hidden {
    display: none;
}

.hidden-opacity {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}